<!-- CON TABLAS  -->
<div class="row">
  <div class="col-xs-12">
    <div class="row anho">
      <h1>{{anhoActual}}</h1>
    </div>
    <div class="row mes">
      {{mesActualVerbose}}
    </div>

    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let celda of head">{{celda}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rango_hora of rango_bloque;">
          <td *ngFor="let data of head; index as i" (click)="sendRangoAndDataToBloques(rango_hora, data)" >
             <app-bloques> {{rango_hora}} {{data}} </app-bloques>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
