<div class="row">
   <div class="col-xs-9">
      <h2 class="titulo">{{titulo}} <span class="caret"></span></h2>
      <a href="#" class="list-group-item clearfix trabajador" *ngFor="let trabajador of trabajadores" style="border: red solid 1px">
         <div class="pull-left">
           <h4 class="list-group-item-heading">Nombre: {{trabajador.nombre}}</h4>
           <p class="list-group-item-text">Edad: {{trabajador.edad}}</p>
         </div>
      </a>

      <div class="row" style="margin-top: 10px">
        <div class="col-xs-12">
          <button
            type="submit"
            name="button"
            class="btn btn-success boton-agrega"
            (click)="onAgregarTrabajador()"
          >Agregar Trabajador</button>
          <form #addTrabajador="ngForm" (ngSubmit)="onSubmit(addTrabajador)" *ngIf="agregarTrabajador">
            <div class="list-gropu-item" *ngIf="agregarTrabajador">
              <input type="text" name="nombre" class="input-name"
              placeholder="nombre" [(ngModel)]="newTrabajadorNombre" required>
              <input type="number" name="edad" class="input-edad"
              placeholder="edad" [(ngModel)]="newTrabajadorEdad" required>
              <input
                type="submit"
                value="Agregar"
                class="btn btn-primary"
                [disabled]="!addTrabajador.form.valid"
              />
              {{newTrabajadorNombre}} {{newTrabajadorEdad}}
            </div>
          </form>
        </div>
      </div>
   </div>
