<div class="row">
  <div class="col-xs-12">
    <h1>{{titulo}}<span class="caret"></span></h1>
    <a href="#" class="list-group-item clearfix" *ngFor="let trabajador of trabajadores" style="border: red solid 1px">
      <div class="pull-left">
        <h4 class="list-group-item-heading">Nombre: {{trabajador.nombre}}</h4>
        <p class="list-group-item-text">Edad: {{trabajador.edad}}</p>
      </div>
    </a>

    <div class="row" style="margin-top: 10px">
      <div class="col-xs-12">
        <button
          type="submit"
          name="button"
          class="btn btn-success"
          (click)="onAgregarTrabajador()"
        >Agregar Trabajador</button>
        {{agregarTrabajador}}
        <div class="list-gropu-item" *ngIf="agregarTrabajador">
          <input type="text" name="nombre"
          placeholder="nombre" [(ngModel)]="newTrabajadorNombre">
          <input type="text" name="edad"
          placeholder="edad" [(ngModel)]="newTrabajadorEdad">
          <button
            type="button"
            name="button"
            class="btn btn-primary"
            (click)='agregarTrabajador()'
          >Agregar</button>
          {{newTrabajadorNombre}} {{newTrabajadorEdad}}
        </div>
      </div>
    </div>
  </div>
</div>
